[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httplib2 = "*"
apiclient = "*"
oauth2client = "*"
google-api-python-client = "*"
pytz = "*"
regex = "*"
requests-html = "*"
inquirerpy = "*"
rich = "*"
google-auth-oauthlib = "*"
click = "*"
lxml-html-clean = "*"
python-dateutil = "*"
libtmux = "*"

[dev-packages]

[requires]
python_version = "3.11"
