[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
addict = "*"
alive-progress = "*"
arrow = "*"
birdseye = "*"
decorator = "*"
httpx = "*"
plumbum = "*"
questionary = "*"
tenacity = "*"
anybadge = "*"
click = "*"
configparser = "*"
humanize = "*"
loguru = "*"
pathlib = "*"
regex = "*"
rich = "*"
schedule = "*"
thefuzz = "*"
tinydb = "*"
ujson = "*"
beautifulsoup4 = "*"
markdownify = "*"

[dev-packages]

[requires]
python_version = "3.12"
